thead {text-align: left;

background-color: greenyellow;
}

.a,.c,.e,.g,.j{
    background-color: brown;
}
.a{background-color:rgb(185, 105, 105);}
table,th,td{
    

    
    border: 1px solid #000}
.b,.d,.f,.h{

    background-color: rgb(47, 151, 155);
}

.were{


padding: 250px 100px;;
margin-block-end: 100px;
}